<footer>
    <a href="/nearby" class="button" id="closeByButton">Dichtbij</a>
    <a href="/favorites" class="button" id="favoriteStations">Favoriete Stations</a>
    <a href="/search" class="button" id="searchStations">Zoek</a>
</footer>