<!DOCTYPE html>
<html>
  {% include 'partials/head'%}
  <body>
    <header>
      <h1>{{ message }}</h1>
    </header>
    <main>
    <section>
    
    </section>
    </main>
    {% include 'partials/footer'%}
    <script src="/script.js"></script>
  </body>
</html>