:root {
    /* BUTTON COLORS */
    --primary-normal: #003082;
    --primary-hover: #004BA0;
    --primary-active: #00255E;
    --secondary-normal: #FFC917;
    --secondary-hover: #FFD43B;
    --secondary-active: #E5B000;
    --text-on-primary: #FFFFFF;

    /* BACKGROUND COLORS */
    --background-main: #F0F0F0;
    --background-footer: #E1E1E1;
    --background-header: #FFFFFF;
    --background-sign: #003082;
    --black-background: #000000;
    --dark-gray-background: #333333;

    /* OTHER COLORS */
    --cancel-color: #FF0000;
}

body{
    background-color: var(--background-main);
    font-family: Arial, sans-serif;
    background-color: var(--background-main);
    padding-bottom: 15rem;
}

/* STYLING FOR THE FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    background-color: var(--background-footer);
    padding: 2rem 2em 5em;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--primary-normal);
    height: 75%;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 5rem;
}

@media (min-width: 1200px) {
    footer a {
        font-size: 1.5rem;;
    }
}

/* STYLING FOR THE HEADER */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-on-primary);
    background-color: var(--background-sign);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 20%;
    box-shadow: 0.1em 0.1em 0.2em black;
}

.currentLocationButton {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--secondary-normal);
    color: var(--black-background);
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border: 0;
    font-size: 2.5rem;
    cursor: pointer;
}

.listOfStations{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign{
    width: 70%;
    padding: 0;
    display: grid;
    gap: 1rem;
    a{
        font-size: 2rem;
        text-decoration: none;
    }
}

h1.sign-text{
    max-width: 50%;
}

.sign-text {
    color: var(--text-on-primary);
    font-size: 1.5em;
    text-align: center;
    list-style-type: none;
    position: relative;
    box-shadow: 0.1em 0.1em 0.2em black;
    background-color: var(--background-sign);
    border-radius: 0.5rem;
    padding: 1.5rem;
    &::after{
        content:'';
        width: 1.5rem;
        aspect-ratio: 1;
        position: absolute;
        background-color: var(--text-on-primary);
        border-top-left-radius: 5px;
        left:0;
        top:0;
    }
}

.trainTimesTitles{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: var(--background-footer);
}

.trainTimes{
    list-style-type: none;
    padding: 0.5rem;
}

.trainTimes li:first-of-type{
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
    list-style-type: none;
}

.trainTimes a{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 1fr 1.5fr 0.5fr 1fr;
    text-decoration: none;
    color: var(--primary-active);
    font-size: 1.5rem;
}

.trainTimes li:nth-of-type(even) {
    padding: 0.5rem;
    background-color: var(--background-header);
    p{
        font-size: 2.5rem;
    }
}

.trainTimes li:nth-of-type(odd) {
    padding: 0.5rem;
    background-color: var(--background-footer);
    p{
        font-size: 2.5rem;
    }
}

.message{
    font-style: italic;
    font-size: 0.7em;
    color: var(--cancel-color);
}

.trainRoute {
    font-style: italic;
    font-size: 0.8em;
}

.trainTrack{
    display: flex;
    position: relative;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border: 3px solid var(--primary-active);
    background-color: var(--text-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
        content:'';
       max-width: 0.8rem;
        aspect-ratio: 1;
        position: absolute;
        background-color: var(--primary-active);
        left:0;
        top:0;
    }
}

.trainTrackLetters{
    position: relative;
    bottom: 0.2em;
    font-size: 0.7em;
}

.trainInformation :first-child{
    font-weight: bold;
}

/* TRAIN INFORMATION PAGE */

.trainImageGroup {
    width: 100%;
    height: 10rem;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
}

.trainImageGroup::-webkit-scrollbar {
    display: none; /* Verberg de scrollbar */
}

/* STYLING FOR THE TRAIN ROUTE GROUP */
.trainRouteGroup {
    background-color: var(--background-footer);
    display: grid;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.trainRouteGroup li {
    position: relative;
    list-style-type: none;
    padding-left: 40px; 
}

.trainRouteGroup li::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem; 
    border-radius: 50%;
    background-color: var(--dark-gray-background);
}

.trainRouteGroup li::after {
    content: '';
    position: absolute;
    left: 0.3rem;
    top: 50%;
    width: 0.4rem;
    height: 2rem;
    background-color: var(--dark-gray-background);
}

.trainRouteGroup li:first-child::after {
    top: 60%;
}

.trainRouteGroup li:last-child::after {
    top: 0; 
    height: 80%;
}

.trainRouteGroup li.trainPassed::before {
    background-color: var(--background-sign); 
}

.trainRouteGroup li.trainPassed::after {
    background-color: var(--background-sign); 
}